.developers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.developer-card {
    margin: 0px auto; 
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.developer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.developer-card .image-placeholder {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: #eee; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 0.9rem;
    color: var(--text-color);
}

.image-placeholder img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0px auto;
}

.developer-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}