.Faq-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
}

.Faq-page h1 {
    margin-bottom: 20px;
    color: #333;
    position: relative;
}

.faq-container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    border: 1px solid rgb(201, 195, 195);
    border-radius: 10px; 
    overflow: hidden; 
}

.report-link {
    color: #f42505;
}

.report-link:hover {
    text-decoration: underline;
}

.faq-item {
    border: none; /* Remove default border */
}

.faq-question {
    background-color: white;
    padding: 3px 7px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid rgb(201, 195, 195);
}

.faq-question.active {
    background-color: #e7f1ff; /* Adjust to your desired active background color */
    border-left: 5px solid #5a5af4; /* Adjust to your desired border color */
    border-right: 5px solid #5a5af4; /* Adjust to your desired border color */
    border-top-left-radius: 10px; /* Add border radius for curved effect */
    border-bottom-left-radius: 10px; /* Add border radius for curved effect */
    border-top-right-radius: 10px; /* Add border radius for curved effect */
    border-bottom-right-radius: 10px; /* Add border radius for curved effect */
}

.faq-answer {
    padding: 10px;
    color: black;
    background-color: white;
}

.faq-icon {
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.faq-icon.open {
    transform: rotate(135deg);
}
