.forgot-password-page {
    height:90vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

.Forgotpwd-img{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 35vw;
  margin: 10px;
  padding: 2px;
}

.Forgotpwd-img img{
  min-width: 340px;
}

.Forgotpwd-content{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin: 10px;
  min-width: 320px;
}

.forgot-password-title{
  font-size: 32px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
.text-red-merry{
  color: #F00731;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Merryweather', serif;
  text-decoration: none;
}
.forgot-password-form{
  background-color: whitesmoke;
  border-radius: 25px;
  margin: 10px auto;
  padding: 7px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  min-width: 330px;
  max-width: 560px;
  box-sizing: border-box;
}
.forgot-password-form-component{
  padding: 5px;
  font-size: 22px;
  font-weight: 400;
}
.atlas-label{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Merriweather', sans-serif;
}
.atlas-input{
  width: 90%;
  margin-top: 5px;
  padding: 10px 5px 4px;
  border: 1px solid #007B7F;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: #E0E0E0;
}
.forgot-password-adds a{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Merryweather', serif;
  color: #F00731;
  text-decoration: none;
  text-align: right;
  padding:5px;
  margin-right: 8px;
}
.forgot-password-adds{ 
  margin-left: 18px;
}

.atlas-btn{
    background-color: #296FE0;
    color: white;
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.forgot-password-btn{
    width: 75%;
    text-align: center;
    margin: 7px auto;
}

@media(max-width:668px){
  .Forgotpwd-page{
      justify-content: center;
  }
  .Forgotpwd-content{
      margin: 10px 0px;
      width: 100vw;
  }
  .Forgotpwd-img{
      width:80vw;
  }
}