.OtpPage{ 
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.OtpPage-img{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 35vw;
  margin: 10px;
  padding: 2px;
}

.OtpPage-title{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

.OtpPage-form{
  background-color: white;
  border-radius: 25px;
  margin: 10px auto;
  padding: 7px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 35vw;
  min-width: 330px;
  max-width: 560px;
}

.OtpPage-btn{
    width: 85%;
    font-size: 1.5rem;
    text-align: center;
    margin: 7px auto;
}

.OtpPage-form{
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}