.Resetpassword-page{
    height:92.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Resetpassword-form{
    background-color: white;
    margin-top: 11px;
    padding: 10px 20px;
    padding-top: 13px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width: 60%;
    min-width: 330px;
    max-width: 560px;
}
.Resetpassword-form-component{
    padding: 5px;
    font-size:22px;
    font-weight: 400;
}
.rememberpassword-reset{
    text-align: right;
    padding: 5px 22px;
}

.Resetpassword-btn{
    width: 80%;
    margin: 10px auto;
}

.atlas-font{
    font-family: 'Merryweather', serif;
    font-weight: 400;
    font-size: 20px;
}

.atlas-btn{
    background-color: #296FE0;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.text-red-merry{
    color:#F00731;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merryweather', serif;
    text-decoration: none;
}
