.Resetpassword-page{ 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

.Resetpwd-img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 30vw;
    margin: 10px;
    padding: 2px;
}

.Resetpwd-img img{
    min-width: 340px;
}

.Resetpwd-content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-width: 320px;
    margin: 10px;
}

.Resetpassword-title {
    text-align: center;
}

.Resetpassword-form{
    background-color: whitesmoke;
    margin: 11px auto;
    padding: 10px 20px;
    padding-top: 13px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width: 60%;
    min-width: 330px;
    max-width: 560px;
    box-sizing: border-box;
}

.Resetpassword-form-component{
    padding: 5px;
    font-size:22px;
    font-weight: 400;
}

.Resetpassword-btn{
    width: 80%;
    margin: 10px auto;
}

.atlas-btn{
    background-color: #296FE0;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.text-red-merry{
    color:#F00731;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merryweather', serif;
    text-decoration: none;
}

@media(max-width:675px){
    .Resetpassword-page{
        justify-content: center;
    }
    .Resetpwd-content{
        margin: 10px 0px;
        width: 100vw;;
    }
    .Resetpwd-img{
        width:80vw;
    }
}