.result-item-container{
    background-color: #bec2c58a;
    margin: 10px;
    padding: 0px;
    border-radius: 18px;
    position: relative;
    width: 200px;
    height:240px;
}

.hide-result-info{
    display: none;
}

.result-item-page:hover .show-result-info{
    display: block;
    position: absolute;
    top:50px;
    left:0px;
    width: 100%;
    overflow-wrap: break-word;
}


.three-dots{
    position: absolute;
    top:4px;
    right:0px;
    cursor: pointer;
}

.three-dots:hover{
    background-color: #bedef4;
    border-radius: 7px;;
}
    
.three-dots svg{
    padding: 6px;
}

.hidden-options{
    position: absolute;
    top:5px;
    right:28px;
    text-align: center;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-options a{
    list-style: none;
    text-decoration: none;
}

.hidden-options div{
    border-bottom: 1px solid black; 
}

.hidden-options div:hover{
    background-color: #bedef4; 
}

.show-options{
    display: block;
    background-color: white; 
    font-family: 'merriweather', sans-serif;
    width:80%;  
}

.result-item-detail{
    padding: 2px 6px;
    text-align: center;
}

.result-item-img{
    padding: 7px 0px;   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:rgb(233 233 233);
}

.result-item-img img{
    width: 80%;
    height: 99%;
}