.result-item-container{
    background-color: #bedef4;
    margin: 10px;
    padding: 0px;
    border-radius: 18px;
    position: relative;
    width: 160px;
}

.three-dots{
    position: absolute;
    top:4px;
    right:7px;
    cursor: pointer;
}

.three-dots:hover{
    background-color: #bedef4;
    border-radius: 7px;;
}
    
.three-dots svg{
    padding: 6px;
}

.hidden-options{
    position: absolute;
    top:5px;
    right:23px;
    text-align: center;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-options div{
    border-bottom: 1px solid black; 
}

.hidden-options div:hover{
    background-color: #bedef4; 
}

.show-options{
    display: block;
    background-color: white; 
    font-family: 'merriweather', sans-serif;
    width:80%;  
}

.result-item-detail{
    padding: 2px 6px;
    text-align: center;
}

.result-item-img{
    padding-top: 15px;   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    background-color: rgb(201, 196, 196);
}

.result-item-img img{
    width: 75px;
    height: 70px;
}