.result-item-container{
    background-color: #bec2c58a;
    margin: 10px;
    padding: 0px;
    border-radius: 18px;
    position: relative;
    width: 200px;
    height:240px;
}

.hide-result-info{
    display: none;
}

.result-item-page:hover .show-result-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%; 
    background-color: #88828261; 
    overflow-wrap: break-word;
}

.show-options{
    display: block;
    background-color: white; 
    font-family: 'merriweather', sans-serif;
    width:80%;  
}

.result-item-detail{
    padding: 2px 6px;
    text-align: center; 
    font-weight: 540;
    font-family: 'merriweather', sans-serif;
}

.result-item-img{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto; 
    height:100%;
    background-color:rgb(233 233 233); 
}

.result-item-img img{
    width: 80%; 
    max-height: 95%; 
    padding: 4px;
}

.result-item-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    width:90%; 
    margin: 0px auto;
}

.result-item-btn-container a{
    text-decoration: none; 
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.result-item-btn{
    min-width:25px;
    width:auto;
}

.year-badge{
    position: absolute;
    top:5px;
    right:4px;
    background-color: #296FE0;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
}

.branch-badge{
    position: absolute;
    bottom:5px;
    left: 10px;
    background-color: #296FE0;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
}

.author-details{
    text-align: center;
}

.capstone-title{
    width: 90%;
    text-align: center;
    margin: 0px auto;
    padding: 5px 0px;
    font-family: 'merriweather', sans-serif;
    font-weight: 500;
}

.result-item-page:hover .capstone-title{
    display: none;
}