.signupmail-page{ 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}
.signupmail-img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 35vw;
    margin: 10px;
    padding: 2px;
}

.signupmail-img img{
    min-width: 340px;
}

.signupmail-content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-width: 320px;
    margin: 10px;
}

.signupmail-title{
    text-align: center;
}

.signupmail-form{
    background-color: whitesmoke;
    margin-top: 11px;
    padding: 10px 20px;
    padding-top: 13px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width: 100%;
    min-width: 330px;
    max-width: 560px;
    box-sizing: border-box;
}

.signupmail-form-component{
    margin-bottom: 12px;
}

.signupmail-form-component input{
    margin-top: 10px;
}

.signupmail-btn{
    width: 95%;
    margin: 10px auto;
}

@media(max-width:925px){
    .signupmail-page{
        justify-content: center;
    }
    .signupmail-content{
        margin: 10px auto; 
    }
    .signupmail-img{
        width:80vw;
    }
    .signupmail-img img{
        width: 300px;
    }
}