.update-password-page-container{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.update-password-title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-password-page {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

.update-password-img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 40vw;
    margin: 10px;
    padding: 2px;
}

.update-password-img img {
    min-width: 340px;
}

.update-password-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-width: 320px;
    margin: 10px;
    width:35vw;
}

.update-password-form {
    background-color: whitesmoke;
    border-radius: 25px;
    margin: 10px auto;
    padding: 7px 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width:100%;
    min-width: 330px;
    max-width:560px;
    box-sizing: border-box;
}

.update-password-form-component {
    padding: 5px 10px;
    font-size:22px;
    font-weight: 400;
    width:100%;
    margin: 5px auto;
    box-sizing: border-box; 
}

.update-password-btn-container {
    width: 90%;
    text-align: center;
    margin: 7px auto;
}

.update-password-input-group {
    position: relative;
}

.update-password-eye-display {
    margin: 0px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 2px;
}

.update-password-input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 5px;
    border: 1px solid #007B7F;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background: #E0E0E0;
}

.update-password-label {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merriweather', sans-serif;
}

.update-password-response-msg {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merryweather', serif; 
    background-color: rgb(214, 222, 214);
    border-radius: 18px;
    margin: 10px auto;
    padding: 5px;
}

.update-password-btn {
    background-color: #296FE0;
    color: white;
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}


.update-password-btn.disabled {
    opacity: 0.6;
}

.cursor-disabled{
    cursor:disabled !important;
}

@media(max-width:691px) {
    .update-password-page {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .update-password-content {
        margin: 10px 0px;
        width: 100vw;
    }
    .update-password-img {
        width:80vw;
    }
}